.fatherBox{
    display: grid;
    justify-content: center;
    align-items: center;
}

.mainBox{
    width: 450px;
    height: 600px;

    border: var(--dark-red) solid 3px;
    border-radius: 5px;

    background-color: var(--primary-color);
    color: var(--blue-accent);

    margin-bottom: 50px;
}
.fs{
    padding: 10px;
    margin-top: 20px;
}

.Legend{
    text-align: center;
    text-decoration: underline;

}

.Input{
    margin-bottom: 25px;
    border-radius: 2px;
    border: 1px solid black
}

.submit{
    width: 100px;
    border-radius: 5px;
    margin-left: 37%;
}