.fatherBox{
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

.mainBox{
    width: 450px;
    height: 600px;

    border: black solid 3px;
    box-shadow: 0px 0px 10px 1px;
    border-radius: 20px;

    background-color: #E9E9E9;
    color: black;

    margin-bottom: 50px;
}
.fs{
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
}

.Legend{
    text-align: center;
    text-decoration: underline;

}

.Input{
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 1px solid #962A27;
    color: black;
    padding: .5%;
}

.submit{
    width: 105px;
    height: 40px;
    border-radius: 10px;
    margin-left: 37%;
    color: white;
    font-weight: bold;
    background-color: #008080;
    border: solid #008080 1px;
}