@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Slabo+27px&display=swap');
:root {
  --primary-color: #FF955F; /* Atomic Tangerine */ 
  --blue-accent: #008080; /* Teal */
  --orange-accent: #F4891F; /* Carrot Orange */
  --dark-red: #590000; /* Dark Burgundy */
  --bright-orange: #F36238; /* Flamingo */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Slabo 27px', serif;
  top: 0px !important;
}

/* ---------------------------- Google Translate ---------------------------- */

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important
}

/* Hide goog-te-gadget but not the select elements */
.skiptranslate.goog-te-gadget > :not(div) {
  display: none;
}

.goog-te-gadget {
  width: 50px;
}

/* -------------------------------------------------------------------------- */

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}
