/* Main Stuff for the header of the main page */
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    /* box-sizing: border-box; */
    padding-top: 50px;
    flex-direction: column;
    /* grid-template-columns: 3;
    grid-template-rows: 3; */
}

.Img {
    filter: opacity(65%) blur(3px);
    z-index: 1;
    /* grid-column: 1/3;
    grid-row: 1/3; */
    position: absolute;
    left: 0;
    top: 120px;
}

.headmsg{
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
}

.logo {
    z-index: 2;
    /* grid-column-start: 2;
    grid-row-start: 2; */
}



/* Main container for the body content */
.contentDiv {
    /* width: 100%;
    height: 100vh; */

    display: flex;
    flex-direction: column;

    margin-bottom: 5%;
}

.Img2{
    border: solid #730704 3px;
}

.child {
    padding: 1%;

    /* height: 50vh;
    width: 100%; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p{
    /* width: 40%;
    height: 30vh; */

    background-color: #FF955F;
    border: #730704 solid 3px;
    margin-top: 3%;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
}


