/* Main Stuff for the header of the main page */
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.Img {
    filter: brightness(0.2)
        /* opacity(65%) blur(3px) */
    ;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 875px;
    object-fit: cover;
    object-position: 50%;
    /* left: 0; */
    top: 120px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 875px;
    width: 100%;
}

.headText {
    top: 270px;
    position: absolute;
    width: 470px;
    height: 500px;
}

.headText > div >h1 {
    font-size: 75px;
    text-align: start;
    color: white;
}

/* Color first letter */
.headText>div>h1::first-letter {
    color: var(--blue-accent);
}

.headText > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.eventsDiv{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
}



.calender{
    border: solid black 3px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 120%;
    min-height: 93vh;
    height: fit-content;
    padding-top: 5%;
    padding-left: 10%;
    margin-bottom: 5%;

    box-shadow: 1px 1px 10px 1px ;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callToAction {
    /* border: solid white 2px; */
    border: none;
    border-radius: 10px;
    background-color: var(--dark-red);
    width: 150px;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
    text-align: center;

}

.callToAction:hover {
    color: white;
    background-color: #400000;
    text-decoration: none;
}


.logo {
    z-index: 2;
    /* grid-column-start: 2;
    grid-row-start: 2; */
}



/* Main container for the body content */
.contentDiv {
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.Img2 {
    border: solid #730704 3px;
}

.child {
    width: 100%;
    height: 45vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p {
    width: 40%;
    height: 30vh;

    background-color: #590000;
    border: black solid 3px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 15px;

    margin-top: 3%;
    padding: 1%;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.event {
    height: 20vh;
    width: 30%;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: solid black 3px;
    box-shadow: 0px 0px 10px 1px ;
    border-radius: 15px;

    margin-top: 3%;

    background-color: #590000;
}

.event p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}