/* Main Stuff for the header of the main page */
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    /* box-sizing: border-box; */
    /* padding-top: 50px; */
    flex-direction: column;
    /* grid-template-columns: 3;
    grid-template-rows: 3; */
}

.Img {
    filter: brightness(0.2)/* opacity(65%) blur(3px) */;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 875px;
    object-fit: cover;
    object-position: 50%;
    /* left: 0; */
    top: 120px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 875px;
    width: 100%;
}

.hero > h1 {
    font-size: 75px;
    text-align: start;
}

/* Color first letter */

.hero > h1 > span {
    color: var(--blue-accent);
}

.heroText {
    width: 400px
}

.callToAction {
    /* border: solid white 2px; */
    border: none;
    border-radius: 10px;
    background-color: var(--dark-red);
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
}

.callToAction:hover {
    color: white;
    background-color: #400000;
    text-decoration: none;
}


.logo {
    z-index: 2;
    /* grid-column-start: 2;
    grid-row-start: 2; */
}



/* Main container for the body content */
.contentDiv {
    /* width: 100%;
    height: 100vh; */

    display: flex;
    flex-direction: column;

    margin-bottom: 5%;
}

.Img2{
    border: solid #730704 3px;
}

.child {
    padding: 1%;

    /* height: 50vh;
    width: 100%; */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p{
    /* width: 40%;
    height: 30vh; */

    background-color: #FF955F;
    border: #730704 solid 3px;
    margin-top: 3%;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
}


