.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  min-height: 700px;
  /* font-size: 20px; */
}

.calendar h2 {
  font-size: 50px;
}

.eventDetails {
  border: solid 18px var(--blue-accent);
  margin-top: 3%;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

.eventDetails > h5 {
  background-color: white;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
}

.key {
  color: var(--blumine);
  font-size: x-large;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    min-height: fit-content;
    /* font-size: 20px; */
  }
}