.footer{
    background-color: var(--dark-red);
    text-align: center;
    padding: 3px;
    color: whitesmoke;

    min-height: 250px !important;

    display: grid;
    grid-template-columns: auto;
    
    justify-content: center;
    align-items: center;
}

.navLinks{
    width: 500px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    font-size: large;

    text-decoration: none;

    color: whitesmoke;
}

.copyright{
    color: whitesmoke;
}

.link{
    text-decoration: none;
    color: whitesmoke;
    transition: .3s;
}

.link:hover {
    text-decoration: underline;
    color: #FF955F;
    transition: .3s;
}