.link_animation {
  color: whitesmoke;
  /* text-decoration: underline; */
  font-size: x-large;
}

/* .nav {
  padding: 10px
} */

.login {
  color: whitesmoke;
  font-size: Larger;
  padding: 20px;

}

.navbar{
  background-color: var(--dark-red) !important;
}
