.link_animation {
  color: whitesmoke;
  /* text-decoration: underline; */
  font-size: x-large;
  transition: .3s;
}

.link_animation:hover {
  color: #FF955F !important;
  transition: .3s;
  text-decoration: underline;
}

/* .nav {
  padding: 10px
} */

.login {
  color: whitesmoke;
  font-size: Larger;
  padding: 20px;

}

.navbar{
  background-color: var(--dark-red) !important;
}
