/* ---------------------------------- Table --------------------------------- */
.table_container {
  width: 97%;
  height: 400px;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: scroll;

}

.email_table {
  /* border-collapse: collapse; Collapse table borders */
  width: 100%;
  /* height: 500px; */
  border: 2px, solid black;
  /* overflow: hidden; */
}

.email_table tr {
  height: 25px;

}

.email_table td {
  border: 1px solid #000000; /* Add border to table cells */
  padding: 8px;
  /* height: 25px; */
  text-align: center;
}

.email_table th {
  border: 1px solid #000000; /* Add border to table cells */
  background-color: #D9D9D9;
  height: 15px;
  text-align: center;
}
/* Make the toggle button stay the same size */
.toggle {
  width: 66px;
}

.email_table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.email_table tr:hover {
  background-color: #ddd; /* Hover color for rows */
}

.table_body {
  /* height: 500px; */
  border-radius: 10px;
  overflow-y: scroll;
}

.table_body > tr {
  height: 20px;
}

.message {
  min-height: 150px;
}

.subject {
  min-width: 250px; 
}

.container {
  background-color: white;
}
/* -------------------------------------------------------------------------- */

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: fit-content;
  align-items: center;
  border-radius: 10px;
  background-color: #1e488f;  
  margin-bottom: 50px;
}

.titleBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 97%;
  min-height: 70px;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
}

.title {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-direction: column;
}

.backgroundInput {
  width: 80%;
  min-height: 80%;
  border-radius: 10px;
  border: none;
  background-color: var(--gray-background);
  font-size: 1.4em;
}

.textArea {
  min-height: 80%;
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.submit  {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.submit:hover {
  transform: translateY(2px) translateX(3px);
  box-shadow:   
  0px 0px 0px 0px, 
  1px 1px 0px 0px, 
  1px 1px 0px 0px, 
  2px 2px 0px 0px, 
  3px 3px 0px 0px;
}

.submit :active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}