.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  background-color: var(--blue-accent);
  border-radius: 10px;
}

.image {
  border-radius: 10px;
}