.headText {
  color: white;
  top: 333px;
  position: absolute;
  width: 470px;
  height: 500px;
}

.headText > h1 {
  font-size: 100px;
}

.headText span {
  color: var(--blue-accent);
}

/* Jaden's Code */
.mainDiv{
  width: 100%;
  height: 70vh;

  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;

  border: solid black 1px;
}