.headText {
  color: white;
  top: 333px;
  position: absolute;
  width: 470px;
  height: 500px;
}

.headText h1 {
  font-size: 100px;
}

/* Color first letter */
.headText h1::first-letter {
  color: var(--blue-accent);
}


.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callToAction {
  /* border: solid white 2px; */
  border: none;
  border-radius: 10px;
  background-color: var(--dark-red);
  width: 120px;
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: x-large;
  text-align: center;
}

.callToAction:hover {
  color: white;
  background-color: #400000;
  text-decoration: none;
}

/* Jaden's Code */
.mainDiv{
  width: 100%;
  height: 70vh;

  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  margin-bottom: 10%;
}