/* .header{
    background-image: url(/public/Images/aboutUs.jpg);
    background-color:  var(--dark-red);
    text-align: center;
    width: 100%;
    height: 345px;
    margin-top: .2rem;
    color: white;

}

.header2{
    width: 94%;
    height: 300px;
    margin-left: 50px;
    color: white;
}

.header3{
    background-color:#3030305b ;
    width: 95%;
    height: 300px;
    margin-left: 1rem;
    color: white;
}

.auc{
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
}

.container {
    position: relative;
    background: url(/public/Images/aboutUs.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;  
}
  
  .bannerImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2; 
    width: 94%;
    height: 320px;
    margin-left: 30px;
  }
 */
 .aboutUsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callToAction {
    /* border: solid white 2px; */
    border: none;
    border-radius: 10px;
    background-color: var(--dark-red);
    width: 150px;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: x-large;
    text-align: center;

}

.callToAction:hover {
    color: white;
    background-color: #400000;
    text-decoration: none;
}

.headText {
    top: 300px;
    position: absolute;
    width: 470px;
    height: 500px;
}

.headText > div >h1 {
    font-size: 100px;
    text-align: center;
    color: white;
}

/* Color first letter */
.headText>div>h1::first-letter {
    color: var(--blue-accent);
}

.headText > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* -------------------------------- Directors ------------------------------- */

.boardOfDirectors{
    background-color: #590000;
    color: whitesmoke;

    border: black solid 3px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 15px; 
    padding: 1%;
}

.boardOfDirectors h1{
    text-align: center;
}

.directorContainer {
    display: flex;
    width: 95vw;
    overflow-x: scroll;
    gap: 20px;
}

.directorContainer::-webkit-scrollbar {
    display: none;
}

  
/*=================================*/
.godfather{
    display: flex;
    width: 100%;
    height: 90vh;

    margin: 1%;
}

/* =============================== */
.container1{
    margin-bottom: 5%;


    width: 100%;
    height: 800px;

    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-items: center;
    gap: 5%;
}

.child1{
    border: solid black 3px;
    box-shadow: 0px 0px 10px 1px;

    width: 90%;
    height: 40vh;

    font-size: smaller;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #590000;
    border-radius: 15px;
}

.child1 p {
    padding: 3%;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
}

.Imagec1{
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px;
    width: 70%;
    
}

.child2{
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px;
    
    width: 90%;
    height: 40vh;

    font-size: smaller;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #590000;
}

.child2 p {
    padding: 3%;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
}

.Imagec2{
    border: solid black 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px;
    width: 70%;
}

/* Jaden's P - 2 */
.eventDiv{
    width: 98vw;
    height: 90vh;

    display: grid;
    align-items: center;
    justify-items: center;

    border: solid black 3px;
    border-radius: 15px;
    box-shadow: black 0px 0px 10px 1px;
    margin-bottom: 2%;
    margin-top: 5%;

    background-color: #590000;
    color: whitesmoke;
}

.eventsContainer{
    width: 95%;
    height: 70vh;

    display: flex;
    flex-direction: row;
    
    gap: 17px;
}

.events{
    width: 40%;
    height: 60vh;
}

.eventsImg{
    width: 100%;
    height: 50vh;
}

.desc{
    width: 100%;
    height: 20vh;

    margin-top: 5%;
    text-align: center;
}

.img{
    border-radius: 2%;
    /* box-shadow: 0px 0px 10px 0px whitesmoke; */
    transition: .2s;
}

.img:hover {
    box-shadow: 0px 0px 10px 5px white;
    transition: .2s;
}