.header{
    background-image: url(/public/Images/aboutUs.jpg);
    background-color: var(--dark-red);
    text-align: center;
    color: white;
    width: 100%;
    height: 245px;

}

.auc{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}


/*=================================*/
.godfather{
    display: flex;

    width: 100%;
    height: 90vh;
}


/* =================================*/
.container1{
    width: 20%;
    height: 70vh;

    margin: 5%;
    padding: 1%;
}

.fs{
    width: 100%;
    height: 65vh;

    border: solid black 3px;
    padding: 4%;

    text-align: center;
    color: whitesmoke;

    background-color: var(--primary-color);
}

.li{
    margin-right: 5%;
}


/* =============================== */
.container2{
    border: solid black 1px;

    width: 70%;
    height: 450px;
    margin: 10%;

    display: flex;
    flex-direction: column;
}

.child1{
    border: solid black 1px;

    width: 100%;
    height: 30vh;

    font-size: smaller;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.child2{
    border: solid black 1px;
    width: 100%;
    height: 30vh;
}