.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60Vh;
  padding: 10px;
  margin-bottom: 10%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #E9E9E9;  
  border: solid black 3px;
  box-shadow: 0px 0px 10px 1px;
}

.titleBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
}

.title {
  color: #000;
  font-size: 25px;
  width: 70px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-direction: column;
  /* padding-left: 25px; */
}

.backgroundInput {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  font-size: 30px;
  border: none;
  background-color: var(--gray-background);
}

/* ------------------------------ Submit button ----------------------------- */

.submit  {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover {
  transform: translateY(2px) translateX(3px);
  box-shadow:   
  0px 0px 0px 0px, 
  1px 1px 0px 0px, 
  1px 1px 0px 0px, 
  2px 2px 0px 0px, 
  3px 3px 0px 0px;
}

.submit :active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


